body {
  margin: 0;
  padding: 0;
  background: #140D27;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
